/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gotham', sans-serif; /* Aplica la tipografía deseada */
    background-color: #FFCC00; /* Color de fondo */
    color: #000000; /* Color de texto */
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s;
}

a:hover {
    color: #7C04B6; /* Cambia el color del enlace al pasar el mouse */
}

/* Header */
.main-header {
    background-color: #7C04B6;
    color: #FFCC00;
    text-align: center;
    padding: 20px 0;
}

.main-header h1 {
    font-size: 3.5rem;
}

.main-header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
<<<<<<< HEAD
    margin-top: 1%;

=======
    margin-top: 10px;
>>>>>>> 7e052b7c6383a7d0748b616a02499ba602de1bfd
}

.main-header nav ul li {
    margin: 0 15px;
}

.main-header nav ul li a {
    color: #FFCC00;
<<<<<<< HEAD
    font-size: 110%;
=======
    font-size: 1rem;
>>>>>>> 7e052b7c6383a7d0748b616a02499ba602de1bfd
    text-transform: uppercase;
    font-weight: bold;
}

.main-header nav ul li a:hover {
    color: #ffffff; /* Cambia el color al pasar el mouse */
}

/* Secciones generales */
.seccion-proyecto {
<<<<<<< HEAD
    padding-top: 3%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.seccion-proyecto h2 {
    font-size: 200%;
=======
    padding-top: 60px;
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
}

.seccion-proyecto h2 {
    font-size: 2rem;
>>>>>>> 7e052b7c6383a7d0748b616a02499ba602de1bfd
    margin-bottom: 20px;
    color: #000000;
}

.seccion-proyecto p {
<<<<<<< HEAD
    font-size: 130%;
    color: #000000;
    padding-left: 10%;
    padding-right: 10%;
=======
    font-size: 1rem;
    color: #000000;
>>>>>>> 7e052b7c6383a7d0748b616a02499ba602de1bfd

}

/* Galería */
.galeria-imagenes {
    display: grid;
     /* Antes: 200px, ahora: 250px */
    gap: 16px;
    background-color: #7C04B6;
    padding: 20px;
}


.galeria-imagenes img {
    width: 100%; 
    height: auto; 
    border-radius: 8px; /* Esquinas redondeadas opcional */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Sombra opcional */
    transition: transform 0.3s ease; /* Efecto de zoom suave */
}

.galeria-imagenes img:hover {
    transform: scale(0.95); /* Efecto de zoom al pasar el mouse */
}


/* Footer */
footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 0.9rem;
}
