/* RESET GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Declaración de la fuente GothamBold */
@font-face {
    font-family: 'GothamBold',sans-serif;
    src: url('fonts/GothamBold.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
/* Declaración de la fuente GothamBoldItalic */
@font-face {
    font-family: 'GothamBoldItalic';
    src: url('fonts/GothamBoldItalic.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* Declaración de la fuente RalewayRegular */
@font-face {
    font-family: 'RalewayRegular';
    src: url('fonts/RalewayRegular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Usar GothamBold para los títulos */
h1, h2 {
    font-family: 'GothamBold', sans-serif;
}

/* Usar GothamBoldItalic para los títulos */
.main-title{
    font-family: 'GothamBoldItalic', sans-serif;
}

/* Usar RalewayRegular para el cuerpo del texto */
body, .bio-content, .btn, .ult {
    font-family: 'RalewayRegular', sans-serif;
}


body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
<<<<<<< HEAD
    color: #000000;
    overflow-x: hidden;
    background-color: #1900ffec; 
    
=======
    background-color: #f4f4f9;
    color: #000000;
    overflow-x: hidden;
>>>>>>> 7e052b7c6383a7d0748b616a02499ba602de1bfd
    
}

/* HEADER */
.header {
<<<<<<< HEAD
    color: #fff;
=======
    background-color: #1900ffec; /* Color rosa vibrante */
    color: #fff;
    padding: 1rem 0;
    max-width: 100%;
    
>>>>>>> 7e052b7c6383a7d0748b616a02499ba602de1bfd
}

.navbar {
    display: flex;
    justify-content: space-between;
<<<<<<< HEAD
    padding: 1rem 5%;
    align-self: center;
    
=======
    align-items: center;
    padding: 1rem 2rem;
    max-width: 100%;
>>>>>>> 7e052b7c6383a7d0748b616a02499ba602de1bfd
}

.logo a {
    color: #fff;
    text-decoration: none;
<<<<<<< HEAD
    font-size: 90%;
=======
    font-size: 1.8rem;
>>>>>>> 7e052b7c6383a7d0748b616a02499ba602de1bfd
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
<<<<<<< HEAD
    align-items: center;
=======
>>>>>>> 7e052b7c6383a7d0748b616a02499ba602de1bfd
}

.nav-links li {
    margin: 0 1rem;
<<<<<<< HEAD
    
=======
>>>>>>> 7e052b7c6383a7d0748b616a02499ba602de1bfd
}

.nav-links a {
    color: #fff;
    text-decoration: none;
<<<<<<< HEAD
    font-size: 110%;
=======
    font-size: 1.1rem;
>>>>>>> 7e052b7c6383a7d0748b616a02499ba602de1bfd
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #333;
}

/* TÍTULO PRINCIPAL */
/* Título principal del portafolio */
.title-container {
<<<<<<< HEAD
    text-align: center; 
    padding: 2%; 
=======
    text-align: center;
    height: 90vh; 
    padding: 4rem 0; 
>>>>>>> 7e052b7c6383a7d0748b616a02499ba602de1bfd
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
<<<<<<< HEAD
    
=======
    max-width: 100%;
>>>>>>> 7e052b7c6383a7d0748b616a02499ba602de1bfd
}
/* Sombra de texto solo para las palabras "PORTAFOLIO" */
.portfolio-word {
    text-shadow: red 13px 0px ; /* Ajusta los valores a tu gusto */
}
.main-title {
    display: flex; 
    flex-direction: column; /* Los elementos hijos se apilan verticalmente */
    align-items: center; 
    line-height: 0.79; 
<<<<<<< HEAD
    font-size: 600%; /* Ajusta el tamaño del texto según tus necesidades */
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2%; 
    
    
=======
    font-size: 6rem; /* Ajusta el tamaño del texto según tus necesidades */
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px; 
    max-width: 100%;
>>>>>>> 7e052b7c6383a7d0748b616a02499ba602de1bfd
}

.main-title span {
    display: block; /* Cada palabra PORTAFOLIO será un "bloque" */
<<<<<<< HEAD

=======
    width: 100%; 
    text-align: center; 
>>>>>>> 7e052b7c6383a7d0748b616a02499ba602de1bfd
    
}

.sub-title {
    display: block; 
    justify-content: center; 
    align-items: center; 
    background-color: #fff; 
<<<<<<< HEAD
    padding: 1.5rem 0; 
    border-radius: 10px; 
    margin-top: 10%; 
=======
    padding: 1rem 0; 
    border-radius: 10px; 
    margin-top: 5rem; 
    overflow: hidden; 
>>>>>>> 7e052b7c6383a7d0748b616a02499ba602de1bfd
    width: 200%; 
}

.scroll-text {
    display: flex;
    animation: scroll 15s linear infinite; 
<<<<<<< HEAD
    overflow: hidden;
=======
>>>>>>> 7e052b7c6383a7d0748b616a02499ba602de1bfd
}

.sub-title span {
    font-size: 2.5rem; 
    font-weight: bold; 
    font-family: 'GothamBold', sans-serif; 
    color: #000000; 
    margin: 0 1rem;
}

.sub-title .dot {
    font-size: 3rem; 
    color: #1900ffec; 
    font-weight: bold; 
    margin: 0 1rem;
}

@keyframes scroll {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}


.hero {
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
=======
    padding: 2rem 0;
    text-align: center;
    position: relative; /* Esto mantiene el contenedor de las imágenes relativo */
    
>>>>>>> 7e052b7c6383a7d0748b616a02499ba602de1bfd
}

.hero-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
<<<<<<< HEAD
    margin: 0 1%;
=======
    margin: 0 1rem;
}

.hero-image-left {
    animation: float 3s ease-in-out infinite;
>>>>>>> 7e052b7c6383a7d0748b616a02499ba602de1bfd
}

.hero-image-right {
    animation: float 3s ease-in-out infinite alternate;
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

.bio-content {
<<<<<<< HEAD
    overflow:hidden;
    display: flex;
}

.bio-content h2 {
    font-size: 250%;
    margin-bottom: 1%;
=======
    max-width: 900px;
    padding: 0 2rem;
    overflow:hidden;
    display: block;
}

.bio-content h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
>>>>>>> 7e052b7c6383a7d0748b616a02499ba602de1bfd
    display:flex;
    overflow:hidden;
    white-space:nowrap;
}

.bio-content, .sal {
    display: flex;
}


.sal:first-of-type {
    margin-right: 15px;
    animation: showup 7s infinite;
}

.sal:last-of-type {
    width:0px;
    animation: reveal 7s infinite;
}

.sal:last-of-type span {
    margin-left:-355px;
    animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}

/* Contenedor para la bio y el video */
.ult {
    display: flex;
<<<<<<< HEAD
    padding: 2%;
    justify-content: space-between;
    gap: 1%;
    padding-left: 10%;
    padding-right: 10%;
    flex-wrap: nowrap;
}


.video-container video {
    width: 105%;
=======
    align-items: center;
    padding: 2rem;
    text-align: center;
    justify-content: space-between;
    gap: 10px;
    margin-left: 120px;
    margin-right: 120px;
}

/* Alineación de bio y video en fila en pantallas grandes */
.video-container {
    flex: 1; /* El video ocupa la mitad del espacio disponible */
    max-width: 50%; /* Máximo 50% de la pantalla */
}

.bio-contenta {
    flex: 1; /* El contenido de bio también ocupa el otro 50% */
    max-width: 50%;
    padding: 20px;
}

/* En pantallas pequeñas, cambia la disposición a columna */
@media (max-width: 768px) {
    .ult {
        flex-direction: column; /* Cambia a columna */
        padding: 0rem; /* Ajusta el padding solo en pantallas pequeñas */
        margin-left: 10px;
        margin-right: 10px;
    }

    .bio-contenta {
        order: 1;
        margin-bottom: 1rem; /* Espacio entre la bio y el video */
    }

    .video-container {
        order: 2;
        margin-top: 1rem; /* Añadir un pequeño margen superior */
    }
    .video-container video {
        width: 100%;
        height: auto;
    }
    
}

.video-container video {
    width: 80%;
>>>>>>> 7e052b7c6383a7d0748b616a02499ba602de1bfd
    height: auto;
}


/* Alineación de bio en la página */
.bio {
<<<<<<< HEAD
    
    font-size: 150%;
    text-align: center;
    padding: 3%; 
}

=======
    max-width: 900px; 
    font-size: 25px;
    text-align: center;
    margin: 0 auto; /* Alinea al centro sin márgenes laterales */
    padding: 10px; /* Reducido para más compacidad */
}

@media (max-width: 768px) {
    .bio {
        font-size: 1.1rem;
        margin-left: 10px;
        margin-right: 10px;
        padding: 8px;
    }
}


/* CSS */
>>>>>>> 7e052b7c6383a7d0748b616a02499ba602de1bfd

.projects-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
<<<<<<< HEAD
    padding: 10%;
    justify-content: center;
    margin-top: 0; /* Eliminamos el margen superior */
    
=======
    padding: 150px;
    justify-content: center;
    margin-top: 0; /* Eliminamos el margen superior */
    padding-top: 4rem;
>>>>>>> 7e052b7c6383a7d0748b616a02499ba602de1bfd
}

.project-button {
    position: relative;
    width: 100%;
    min-width: 300px; /* Ajusta este valor según el tamaño que quieras que tengan los botones */
    min-height: 300px; /* Asegúrate de que los botones tengan un tamaño mínimo */
    padding-top: 75%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
@media (max-width: 1024px) {
    .projects-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas para pantallas más pequeñas */
    }
<<<<<<< HEAD
    .ult{
        flex-direction: column;
    }
    .main-title {
        font-size: 300%; /* Ajusta el tamaño del texto según tus necesidades */
    }
    .portfolio-word {
    text-shadow: red 7px 0px ; /* Ajusta los valores a tu gusto */
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        align-items:  center ;
    }
    .bio-content{
        font-size: 120%;
        padding-left: 40%;
    }
    .bio{
        font-size: 120%;
    }
    .hero {
    overflow:hidden;
    display: flex;
    flex-direction: column;
    font-size: 50%;
}
    .hero-image {
        margin-top: 5%;
    
}
}

=======
}
>>>>>>> 7e052b7c6383a7d0748b616a02499ba602de1bfd

@media (max-width: 768px) {
    .projects-container {
        grid-template-columns: 1fr; /* 1 columna para pantallas móviles */
    }
}

.project-button:hover {
    transform: scale(1.05);
}

.project-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.project-button:hover::before {
    opacity: 1;
}

.project-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'GothamBold', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.project-button:hover .project-link {
    opacity: 1;
}

.pro {
    text-align: center;
    margin-top: 3rem; /* Menos espacio superior para que no esté tan alejado de la sección anterior */
    font-family: 'GothamBold', sans-serif; /* Fuente consistente con el resto */
    font-size: 3rem; /* Tamaño adecuado para que se vea destacado pero no excesivo */
    color: #ffffff; /* Color rosa para armonizar con el tema */
    letter-spacing: 2px; /* Espaciado entre letras para un toque elegante */
    text-transform: uppercase; /* Para dar énfasis y hacer que se vea más profesional */
}

/* Sección de contacto */
.contact {
<<<<<<< HEAD
    padding: 10%;
    text-align: center;
    margin-top: -10%;
}

.contact h2 {
    font-size: 250%;
=======
    padding: 50px 20px;
    text-align: center;
    margin-bottom: 50px;
}

.contact h2 {
    font-size: 2.5rem;
>>>>>>> 7e052b7c6383a7d0748b616a02499ba602de1bfd
    color: #ffffff;
    margin-bottom: 20px;
    font-family: 'Gotham', sans-serif; /* Tipografía deseada */
}

.contact p {
<<<<<<< HEAD
    font-size: 100%;
=======
    font-size: 1rem;
>>>>>>> 7e052b7c6383a7d0748b616a02499ba602de1bfd
    color: #ffffff;
    margin-bottom: 20px;
    font-family: 'Gotham', sans-serif;
}

.contact ul {
    list-style: none;
    padding: 0;
}

.contact li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
<<<<<<< HEAD
    font-size: 100%;
=======
    font-size: 1.1rem;
>>>>>>> 7e052b7c6383a7d0748b616a02499ba602de1bfd
    color: #ffffff;
    font-family: 'Gotham', sans-serif;
}

.contact li strong {
    margin-right: 10px;
    color: #ffffff;
    font-weight: bold;
}

.contact li i {
    font-size: 1.5rem;
    color: #ffffff; /* Color para el icono */
    margin-right: 10px;
}

.contact li a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
}

.contact li a:hover {
    color: #FF6B6B; /* Color de hover */
}
